/.metadata/

/SpringMVC_Boot_Minimal_Logging_2x_Test/bin/*
/SpringMVC_Boot_Minimal_Logging_2x_Test/Logi/*
/SpringMVC_Boot_Minimal_Logging_Test/bin/*
/SpringMVC_Boot_Minimal_Logging_Test/Logi/*
/SpringMVC_Boot_Minimal_Test/bin/*
/SpringMVC_Boot_Minimal_Logging_2x_Test/.gitignore
/SpringMVC_Boot_Minimal_Logging_Test/.gitignore
/SpringMVC_Boot_Minimal_Test/.gitignore
/SpringMVC_Boot_Minimal_Test_Ressources/.gitignore
/SpringMVC_Boot_Minimal_Test_Ressources/bin/*
/SpringMVC_Gradle_Java_ChainViewResolver_JSP_HTTP_static_Test/bin/*
/SpringMVC_Gradle_Java_ChainViewResolver_JSP_HTTP_static_Test/build/*
/SpringMVC_Gradle_Java_Test/bin/*
/SpringMVC_Gradle_Java_Test/build/*
/SpringMVC_Gradle_XML_Test/bin/*
/SpringMVC_Gradle_XML_Test/build/*
/SpringMVCTest5/build/*
/SpringMVCTest5/target/*
/SpringMVCTestBackup/target/*
