/.metadata/

/SpringMVC_Boot_Minimal_Logging_2x_Test/bin/*
/SpringMVC_Boot_Minimal_Logging_2x_Test/Logi/*
/SpringMVC_Boot_Minimal_Logging_Test/bin/*
/SpringMVC_Boot_Minimal_Logging_Test/Logi/*
/SpringMVC_Boot_Minimal_Test/bin/*
/SpringMVC_Boot_Minimal_Logging_2x_Test/.gitignore
/SpringMVC_Boot_Minimal_Logging_Test/.gitignore
/SpringMVC_Boot_Minimal_Test/.gitignore
/SpringMVC_Boot_Minimal_Test_Ressources/.gitignore
/SpringMVC_Boot_Minimal_Test_Ressources/bin/*
/SpringMVC_Gradle_Java_ChainViewResolver_JSP_HTTP_static_Test/bin/*
/SpringMVC_Gradle_Java_ChainViewResolver_JSP_HTTP_static_Test/build/*
/SpringMVC_Gradle_Java_Test/bin/*
/SpringMVC_Gradle_Java_Test/build/*
/SpringMVC_Gradle_XML_Test/bin/*
/SpringMVC_Gradle_XML_Test/build/*
/SpringMVCTest5/build/*
/SpringMVCTest5/target/*
/SpringMVCTestBackup/target/*
/.recommenders/

/SpringMVC_Boot_Minimal_ThymeLeaf_Min_Test/bin/*
/SpringMVC_Boot_Minimal_ThymeLeaf_Test/bin/*
/SpringMVC_Boot_Error_Test/bin/main/application.properties
/SpringMVC_Boot_Error_Test/bin/main/ll/test/MainController.class
/SpringMVC_Boot_Error_Test/bin/main/ll/test/MyException01.class
/SpringMVC_Boot_Error_Test/bin/main/ll/test/MyException02.class
/SpringMVC_Boot_Error_Test/bin/main/ll/test/MyException03.class
/SpringMVC_Boot_Error_Test/bin/main/ll/test/MyExceptionAdvice.class
/SpringMVC_Boot_Error_Test/bin/main/ll/test/RedirectController.class
/SpringMVC_Boot_Error_Test/bin/main/ll/test/SpringMVC_Boot_Error_Test.class
/SpringMVC_Boot_Error_Test/bin/main/ll/test/StringWrapper.class
/SpringMVC_Boot_Error_Test/bin/main/ll/test/StrList.class
/SpringMVC_Boot_Error_Test/bin/main/templates/add.html
/SpringMVC_Boot_Error_Test/bin/main/templates/add2.html
/SpringMVC_Boot_Error_Test/bin/main/templates/errDup.html
/SpringMVC_Boot_Error_Test/bin/main/templates/errDup2.html
/SpringMVC_Boot_Error_Test/bin/main/templates/errDup3.html
/SpringMVC_Boot_Error_Test/bin/main/templates/hej2.html
/SpringMVC_Boot_Error_Test/bin/main/templates/lst.html
/SpringMVC_Boot_Error_Test/bin/main/templates/lst2.html
/SpringMVC_Boot_Minimal_Security_Test/bin/main/application.properties
/SpringMVC_Boot_Minimal_Security_Test/bin/main/ll/test/MainController.class
/SpringMVC_Boot_Minimal_Security_Test/bin/main/ll/test/SpringMVC_Boot_Minimal_ThymeLeaf_Min_Test.class
/SpringMVC_Boot_Minimal_Security_Test/bin/main/resources/img2.jpg
/SpringMVC_Boot_Minimal_Security_Test/bin/main/static/1.txt
/SpringMVC_Boot_Minimal_Security_Test/bin/main/static/img3.jpg
/SpringMVC_Boot_Minimal_Security_Test/bin/main/static/style.css
/SpringMVC_Boot_Minimal_Security_Test/bin/main/templates/hello.jsp
/SpringMVC_Boot_Minimal_Security_Test/bin/main/templates/home.html
/Spring_Security_Test/bin/*
/Hibernate_02/bin/*
/Hibernate_03/bin/*
/Hibernate_04/bin/*
/SpringHibernate01/bin/*
/CompatableFuture/bin/*
/Hibernate_05/bin/*

Hibernate_03/bin/main/application.properties
Hibernate_03/bin/main/my/com/pl/Hibernate_03/dao/CustomDao.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/dao/CustomDaoImpl.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/dao/Test1CustomDao.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/dao/Test1Dao.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/dao/Test1GenDao.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/dao/Test6Dao.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/domain/SubClass1.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/domain/SubClass2.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/domain/SubClass6.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/domain/SubClass61.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/domain/SubClass62.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/domain/SubClass63.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/domain/SubObj.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/domain/Test1.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/domain/Test2.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/domain/Test3.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/domain/Test4.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/domain/Test5.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/domain/Test5_1.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/domain/Test6.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/Hibernate03Application.class
Hibernate_03/bin/main/my/com/pl/Hibernate_03/utils/NewTransactionWrapper.class
Hibernate_03/bin/test/my/com/pl/Hibernate_03/DeleteTest.class
Hibernate_03/bin/test/my/com/pl/Hibernate_03/DomainEventTest.class
Hibernate_03/bin/test/my/com/pl/Hibernate_03/EntityGraphTest.class
Hibernate_03/bin/test/my/com/pl/Hibernate_03/NativeToObjTest.class
Hibernate_03/bin/test/my/com/pl/Hibernate_03/PageTest.class
Hibernate_03/bin/test/my/com/pl/Hibernate_03/ProcedureTest.class
Hibernate_03/bin/test/my/com/pl/Hibernate_03/ProjekcjeTest.class
Hibernate_03/bin/test/my/com/pl/Hibernate_03/SortTest.class
/JOOQ_06/bin/*
/Plugins/org.plugin.Test2/bin/*
/Plugins/org.plugin.Test2/jar*

MapUpdaterWorkspace/MapUpdater/bin/*
/MapUpdaterWorkspace/.metadata/*
/MapUpdaterWorkspace/.recommenders/*
/runtime-EclipseApplication/.metadata/.plugins/*
/MapUpdaterWorkspace/MapUpdater/bin/*
/MapUpdaterWorkspace/MapUpdater/bin/*
/runtime-EclipseApplication/.metadata/*
/SpringMVC_Gradle_XML_Test/.settings/*
/Hibernate_05/custom-generator/bin/*
/MapUpdaterWorkspace/MapUpdater/bin/*
/GradleTestWorkspace/GradleCommon/bin/*
/GradleTestWorkspace/GradleTest/bin/main/*
/GradleTestWorkspace/GradleTest/bin/*
/GradleTestWorkspace/GraddleCommonUser/bin/*
/GradleTestWorkspace/gradleCommon2/build/*
/GradleTestWorkspace/GraddleCommonUser/build/*
/GradleTestWorkspace/gradleCommon2/bin/*
/Hibernate_05/custom-generator/build/*

GradleTest/GradleTest/bin/*
GradleTest/GraddleCommonUser/bin/*
GradleTest/GraddleCommonUser/build/*
GradleTest/GradleCommon/bin/*
GradleTest/gradleCommon2/bin/*
GradleTest/gradleCommon2/build/*
/BasicStruct/bin/*
/SpringOtherTests/bin/*
