<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"> 
<head>
	<title>Spittr</title>
	<link 
		rel="stylesheet"
		type="text/css"
		th:href="@{style.css}">
    </link>
</head>
<body>
	<h1>ADM/1</h1>
	<img alt="img2"  th:src="@{img2.jpg}" />
    <img alt="img3"  th:src="@{img3.jpg}" />
    <img alt="img4"  th:src="@{img4.jpg}" />
    <img alt="img5"  th:src="@{res2/img5.jpg}" />
	<a th:href="@{/spittles}">Spittle</a> | Łącza do stron th:href
	<a th:href="@{/spitter/register}">Zarejestruj</a>
</body>
</html>