<!-- "${student}" to klasa (pomijaj¹c wielkoœæ liter) a nie zmienna -->
<form action="#" th:action="@{/saveStudent}" th:object="${student}" method="post">
    <table border="1">
    
        <tr>
            <td>Imiê</td>
            <!-- zadzia³a tak¿e dla type="name", ale nie zadziala w innych przykladach - dziwne -->
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        
        <tr>
            <td>P³eæ</td>
            <td><select th:field="*{gender}">
				<option th:value="'M'" th:text="Mezczyzna"></option>
				<option th:value="'K'" th:text="Kobieta"></option>
			</select></td>
        </tr>
        
        <tr>
            <td>Wiek</td>
            <td><select th:field="*{age}">
				<option th:value="'15'" th:text="15"></option>
				<option th:value="'16'" th:text="16"></option>
				<option th:value="'17'" th:text="17"></option>
				<option th:value="'18'" th:text="18"></option>
				<option th:value="'19'" th:text="19"></option>
				<option th:value="'20'" th:text="20"></option>
				<option th:value="'21'" th:text="21"></option>
				<option th:value="'22'" th:text="22"></option>
				<option th:value="'23'" th:text="23"></option>
				<option th:value="'24'" th:text="24"></option>
				<option th:value="'25'" th:text="25"></option>
				<option th:value="'26'" th:text="26"></option>
				<option th:value="'27'" th:text="27"></option>
				<option th:value="'28'" th:text="28"></option>
				<option th:value="'29'" th:text="29"></option>
			</select></td>
        </tr>
        
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>