<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"> 
<head>
	<title>Spittr</title>
	<link 
		rel="stylesheet"
		type="text/css"
		th:href="@{style.css}">
    </link>
</head>
<body>
	<h1>Witamy w aplikacji Spittre</h1>
	<img alt="img2"  th:src="@{img2.jpg}" />
	<img alt="img2"  th:src="@{static/img2.jpg}" />
	<img alt="img2"  th:src="@{resources/img2.jpg}" />
    <img alt="img3"  th:src="@{img3.jpg}" />
    <img alt="img4"  th:src="@{img4.jpg}" />
    <img alt="img5"  th:src="@{res2/img5.jpg}" />
    <img alt="img6"  th:src="@{img6.jpg}" />
	<a th:href="@{/spittles}">Spittle</a> | Łącza do stron th:href
	<a th:href="@{/spitter/register}">Zarejestruj</a>
	
	<p/>
	<!-- Pozwala na pobranie i wyswietlenie wartosci pobranej z pliku 
		 okreslonego przez beana ResourceBundleMessageSource -->
    <span th:text="#{welcome.message}" />
    
    <p/>
    <!-- Pobiera informacje z atrydutu modelu 'model.addAttribute("serverTime"(...)' /homeModel -->
    <span th:text="${serverTime}" />
    
    <p/>
    <!-- Pobiera informace z kolekcji (List<Student>) i parsuje po elementach. 
         Nie wiem co z kolejnością, więc najlepiej chyba uzywać listy. -->
    <tr th:each="student: ${students}">
        <td th:text="${student.name}" />
    </tr>
    
    <p/>    
    <!-- Porównuje warosci. -->
    <tr th:each="student: ${students}">
        <td>
            <span th:text="${student.name}" /> 
            <!-- IF: porówywanie ciągów-->
            <span th:if="${student.gender} == 'M'" th:text=" Mezczyzna " /> 
            <!-- UNLESS: porówywanie ciągów-->
		    <span th:unless="${student.gender} == 'M'" th:text=" Kobieta " />
		    <!-- IF: porówywanie liczb-->
		    <span th:if="${student.age} >= 25" th:text=" weteran " /> 		    		   
		</td>
		<p/>
		<td th:switch="${student.gender}">
		    <span th:case="'M'" th:text="Male" /> 
		    <!-- ta wartość nie zostanie spełniona, bo zamiast 'F' uzywamy 'K' -->
		    <span th:case="'F'" th:text="Female" />
		</td>
    </tr>
    
    <p/>
    <!-- formatowanie wartości -->
    <tr th:each="student: ${students}">
    	<!-- Konwersja liczby Integer na Float (wyświetlanej z przecinkiem) -->
        <td th:text="${#conversions.convert(student.age, 'Float')}" />
    </tr>
</body>
</html>